{% extends "layout.html" %}

{% block body %}
<div class="grid-container">
    <div class="navigation-bar grid-item-row-1">
        <div class="navigation-bar-left">
            <div>
                <a href="/" >Home</a>
            </div>
        </div>
        <div class="navigation-bar-right">
            <div>
                <input type="search">
                <button>Search</button>
            </div>
        </div>
    </div>
    <div class="grid-item-row-2">
        <h2 class="register-title">{{title}}: {{information}}</h2>
        <form method="post" action="/process-signup/">
            <div class="form-grid">
                <label>First Name: </label><input type="text" name="firstname" required maxlength="20">
                <label>Last Name: </label><input type="text" name="lastname" required maxlength="20">
                <label>Date of Birth: </label><input type="date" name="dateofbirth" maxlength="20">
                <label>Residential Address: </label><input type="text" name="address" placeholder="enter a valid address" required maxlength="50">
                <label>Nationality: </label><input type="text" name="nationality" required maxlength="50">
                <label>National Identification number: </label><input type="text" name="nin" required maxlength="11">
                <input type="submit" value="Submit" class="button">
            </div>
        </form>
    </div>
</div>
{% endblock%}